:root {
    --color-strongblack: #000000;
    --color-deepblack: #121212;
    --color-lightblack:#12121299;

    --color-white:#FFFFFF;
    --color-lightgray: #EEEEEE;
    --color-mlightgray:#C4C4C4;
    --color-gray: #868686;
    --color-darkgray: #666666;
    --color-stronggray:#262626;

    --color-orange: #FF6428;

}