.footer-wrapper {
    background: var(--color-lightgray);
}

.footer {

}

.section-top {
    display: flex;
    justify-content: space-between;
    margin: 80px auto;

}

.section-top-common-styles-one {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-lightblack);
}

.section-top-common-styles-two {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--color-deepblack);
}

.contacts {
    display: flex;
    flex-direction: column;
    column-gap: 255px;
    row-gap: 15px;
}

.contact-logo {

}

.contacts-mail {
    display: flex;
    column-gap: 15px;
}

.contacts-mail__link-text {

}

.contacts-location__link-text {

}

.contacts-location {
    display: flex;
    column-gap: 15px;
}

.pages {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.pages-text {

}

.pages-link {

}

.products {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.products-text {

}

.products-link {

}

.follow-us {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.follow-us-text {

}

.follow-us-link {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.section-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 43px;
}

.copyright {

}

.copyright__text {
    font-family: Poppins, sans-serif;
    color: var(--color-lightblack);
}