@import url(navbar.css);
@import url(footer.css);
@import url(fonts.css);
@import url(colors.css);


@import url(reset.css);

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.content {
    flex: 1 1 auto;
}