.navbar-wrapper {
    margin-bottom: 144px;
}

.navbar {
    display: flex;
    column-gap: 148px;
    align-items: center;
    margin-top: 62px;
}

.navbar-left {

}

.navbar-logo {
    width: 110px;
    height: 31px;
}

.navbar-middle {

}

.navbar-menu {
    display: flex;
    column-gap: 52px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.navbar-menu__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(18, 18, 18, 0.4);
}

.navbar-right {

}

.navbar-right-img {

}

.navbar-right-img__photo {
    position: absolute;
    top: 0;
    right: 0;
}