.brands-wrapper {
    margin-bottom: 180px;
}

.brands {

}

.section-brands-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}

.section-brands-top-hd {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: var(--color-strongblack);
}

.section-brands-top-hd__word {
    color: var(--color-orange)
}

.section-brands-bottom {

}