.browse-wrapper {

}

.browse {
        width: 469px;
        margin-bottom: 220px;
}

.content-browse-heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 67px;
    color: var(--color-deepblack);
    margin-bottom: 16px;
}

.content-browse-heading__word {
    color: var(--color-orange);
}

.content-browse-paragraph {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 33px;
}

.content-browse-links {
        display: flex;
        align-items: center;
        column-gap: 40px;
}

.content-browse-links__app {
        width: 192px;
        height: 60px;
        background: var(--color-orange);
        border-radius: 40px;
        color: var(--color-white);
        padding: 18px 48px;
}