.categories-wrapper {
    margin-bottom: 220px;
}

.categories {

}

.section-categories-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.section-categories-top-hd {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: var(--color-strongblack);
}

.section-categories-top-hd__word {
    color: var(--color-orange);
}

.section-categories-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
}

.categories-bottom__item {

}

.categories-bottom__item-img-first {

}

.categories-bottom__item-text-first {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-white);
    position: relative;
    left: 65px;
    top: -50px;
}

.categories-bottom__item-img-second {

}

.categories-bottom__item-text-second {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-white);
    position: relative;
    left: 67px;
    top: -50px;
}

.categories-bottom__item-img-third {

}

.categories-bottom__item-text-third {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-white);
    position: relative;
    left: 65px;
    top: -50px;
}

.categories-bottom__item-img-fourth {

}

.categories-bottom__item-text-fourth {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-white);
    position: relative;
    left: 55px;
    top: -50px;
}