.favorite-wrapper {

}

.favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-favorite-left {

}

.section-favorite-left__text {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    color: var(--color-strongblack);
    margin-bottom: 60px;

}

.section-favorite-left__word {
    color: var(--color-orange);
}

.section-favorite-left-buttons {
    display: flex;
    column-gap: 26px;
}

.section-favorite-left-buttons__btn {

}

.section-favorite-right {

}