.content-store {
    display: flex;
    flex-direction: column;
}

.content-store-hd {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: var(--color-deepblack);
    margin-bottom: 92px;
}

.content-store-hd__word {
    color: var(--color-orange);
}

.section-store-top {
    margin-bottom: 96px;
}

.section-store-bottom {
    margin-bottom: 180px;
}

.content-store-block {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.content-store-block-pr {
    display: flex;
    justify-content: space-between;
}

.content-store-block-pr-left {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: var(--color-deepblack);
    text-transform: uppercase;
}

.content-store-block-pr-right {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-gray);
}

.content-store-new-block-lmr {
    display: flex;
    justify-content: space-between;
}

.content-store-new-block-left {

}

.content-store-new-block-left-g__img {

}

.content-store-new-block-left-g__name {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-deepblack);
}

.content-store-new-block-left-g__price {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-darkgray);
}

.content-store-new-block-middle {

}

.content-store-new-block-middle-g__img {

}

.content-store-new-block-middle-g__name {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-deepblack);
}

.content-store-new-block-middle-g__price {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-darkgray);
}

.content-store-new-block-right {

}

.content-store-new-block-right-g__img {

}

.content-store-new-block-right-g__name {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-deepblack);
}

.content-store-new-block-right-g__price {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-darkgray);
}