.what-wrapper {
    margin-bottom: 240px;

}

.what {

}

.what-hd {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.what-hd__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: var(--color-strongblack);
}

.what-hd__word {
    color: var(--color-orange);
}

.section-what-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.section-what-left {

}

.section-what-right {

}

.section-what-right-text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: var(--color-darkgray);
    margin-bottom: 56px;
}

.section-what-right-pd {

}

.section-what-right-pd-n_a_j {

}

.section-what-right-pd-n_a_j__name {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--color-strongblack);
}

.section-what-right-pd-n_a_j__job {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.08em;
    color: var(--color-gray);
    text-transform: uppercase;
}

.section-what-right-links {
    display: flex;
    justify-content: space-between;
}

.section-what-right-links__link {
    height: 16px;
    width: 10px;
    background-color: var(--color-mlightgray);
    border-radius: 20px;
}

.section-what-right-links__link:not(:last-child) {
    margin-right: 6px;
}

.section-what-right-links__link.active {
    height: 12px;
    width: 24px;
    background-color: var(--color-orange);
    border-radius: 20px;
}