.why-wrapper {
    background-color: var(--color-deepblack);
    margin-bottom: 240px;
    padding: 94px 0;
}

.why {

}

.section-why-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;

}

.section-why-top-hd {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: var(--color-white);
}

.section-why-top-hd__word {
    color: var(--color-orange);
}

.section-why-bottom {
    display: flex;
    justify-content: center;
}

.section-why-bottom-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
}

.section-why-bottom-links__link {
    background: var(--color-stronggray);
    border-radius: 20px;
    width: 72px;
    padding: 22px;
    margin-bottom: 40px;
}

.section-why-bottom-links__name {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 12px;
    text-align: center;
}

.section-why-bottom-links__text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: var(--color-darkgray);
    text-align: center;
}